*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

html{
    min-height: 100%;
}

body{
    min-width: 100vw;
    background-image: url("../assets/hostingAreaImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    user-select: none;
    padding-bottom: 3rem;
    overflow-x: hidden;
}

.flex{
    display: flex;
}

.align-flex{
    display: flex;
    align-items: center;
}

header{
    margin: 4% 5% 0 5%;
    justify-content: space-between;
}

.logo-box{
    font-size: 2vw;
    font-weight: 700;
    color: white;
}

.logo{
    margin-right: 15px;
    height: 2vw;
    width: 2vw;
}

.navBar{
    width: 20%;
    justify-content: space-between;
}

.btn{
    border: none;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}

.dot{
    font-size: 1.1rem;
    font-weight: 800;
    color: white;
}

.team{
    color: #222;
    background-color: white;
    border-radius: 2vw 2vw;
    padding: 1vw 2vw;
    font-size: 1.2vw;
}

.team:hover{
    outline: 2px solid rgba(243, 243, 243, 0.5);
}

.tm{
    border: none;
    background-color: transparent;
    padding: 10px 0;
}

.close, .hamburger{
    display: none;
}




.container {
    margin: 0 auto;
    padding: 4rem;
    width: 65%;
    margin-top: 3rem;
}

h2{
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.75rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
}

.accordion a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover, .accordion a:hover::after {
    cursor: pointer;
    color: lightgreen;
}

.accordion a:hover::after {
    border: 1px solid lightgreen;
}

.accordion a.active {
    color: lightgreen;
    border-bottom: 1px solid lightgreen;
}

.accordion a::after {
    content: '+';
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    color: #7288a2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
}

.accordion a.active::after {
    content: '-';
    color: lightgreen;
    border: 1px solid lightgreen;
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid lightgreen;
    overflow: hidden;
    transition: all 200ms ease 150ms;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}

.accordion .content.active {
    opacity: 1;
    padding: 1.5rem;
    max-height: 100%;
}




@media only screen and (max-width: 1000px){
    .container{
        width: 80%;
    }
}

@media only screen and (max-width: 640px){

    .hamburger{
        display: block;
        margin-top: 18px;
        cursor: pointer;
    }

    .hamMenu{
        height: 55px;
        width: 55px;
    }

    .navBar{
        position: fixed;
        top: 0;
        left: 100%;
        color: white;
        background-color: #333;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        flex-direction: column;
        justify-content: unset;
        padding-top: 130px;
        padding-left: 50px;
        gap: 20px;
        align-items: flex-start;
        opacity: 0;
    }

    .dot{
        display: none;
    }

    .navBar a{
        color: white;
        font-size: 1.2rem;
    }

    .close{
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        height: 100px;
        width: 100px;
        z-index: 2;
    }

    .tm{
        position: fixed;
        min-width: fit-content;
        left: 100%;
        top: 300px;
        z-index: 2;
        opacity: 0;
    }

    .team{
        font-size: 1.2rem;
        padding: 15px 40px;
        border-radius: 30px 30px;
        background-color: white;
        color: #222;
    }

    .logo-box{
        font-size: 1.5rem;
    }

    .logo{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    header{
        margin: 4% 8% 0 8%;
    }

    .container{
        width: 100%;
    }
}